form .division-search-input {
    padding: 5px 0 4px 5px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4px;
    margin-bottom: 2px;
    height: auto;
}

input[type="search"].division-search-input {
    -webkit-appearance: textfield;
    background: #fff;
    border: 1px solid #000;
    color: #222;
    display: inline-block;
    font-size: 13px;
    font-family: arial, verdana, sans-serif;
    line-height: normal;
    padding: 5px 0 4px 5px;
    position: relative;
    vertical-align: middle;
    width: 120px;
    margin-bottom: 0;
    -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
            border-radius: 15px;
    -webkit-transition: width 0.2s ease, background-color 0.2s ease;
       -moz-transition: width 0.2s ease, background-color 0.2s ease;
            transition: width 0.2s ease, background-color 0.2s ease;
}

.wrapper {
    @include grid-row;
}
